<template>
  <popup-layout
    Width="500px"
    @close="$emit('close')"
    title="Edit"
    :isVisible="isVisible"
    isFooter
  >
    <template #body>
      <a-form
        v-if="data"
        :model="data"
        name="basic"
        :label-col="{ span: 6 }"
        :wrapper-col="{ span: 18 }"
        autocomplete="off"
      >
        <a-row type="flex" :gutter="[16, 16]" class="mt-24 modal-add-wrapper">
          <a-col span="24">
            <a-form-item
              label="Lebal"
              :name="data.lebal"
              :rules="[{ required: false, message: `Please input your lebal!` }]"
            >
              <a-input v-model:value="data.lebal" />
            </a-form-item>
          </a-col>
          <a-col
            span="24"
            v-if="
              data.type !== 'checkbox-group' &&
              data.type !== 'checkbox' &&
              data.type !== 'radio-group' &&
              data.type !== 'switch' &&
              data.type !== 'editor'
            "
          >
            <a-form-item
              label="Placeholder"
              :name="data.placeholder"
              :rules="[{ required: false, message: `Please input your placeholder!` }]"
            >
              <a-input v-model:value="data.placeholder" />
            </a-form-item>
          </a-col>
          <a-col span="24">
            <a-form-item
              label="Key" 
              :name="data.key"
              :rules="[{ required: false, message: `Please input your key!` }]"
            >
              <a-input v-model:value="data.key" />
            </a-form-item>
          </a-col>
          <a-col span="10">
            <a-form-item
            label="Value" 
              :name="newItem.value"
              :rules="[{ required: false, message: `Please input your value!` }]"
            >
              <a-input v-model:value="newItem.value" placeholder="value" />
            </a-form-item>
          </a-col>
          <a-col span="10">
            <a-form-item
            label="Name" 
              :name="newItem.name"
              :rules="[{ required: false, message: `Please input your name!` }]"
            >
              <a-input v-model:value="newItem.name" placeholder="name" />
            </a-form-item>
          </a-col>
          <div class="d-flex center">
            <a-col span="4"><a-button @click="addItem" :disabled="newItem.value.length && newItem.name.length"> save</a-button></a-col>
          </div>
        </a-row>
      </a-form>
    </template>
    <template #footer>
      <a-button class="grey" @click="$emit('close')"> Bekor qilish </a-button>
      <a-button class="blue" @click="$emit('editing', data)" :disabled="!data.key">
        Saqlash
      </a-button>
    </template>
  </popup-layout>
</template>

<script setup>
const newItem = reactive({
  value:"",
  name:""
})

const props = defineProps({
  isVisible: Boolean,
  data: Object,
});
const emit = defineEmits("close", "editing");
</script>

<style></style>
