<template>
  <popup-layout
    Width="500px"
    @close="$emit('close')"
    title="Edit"
    :isVisible="isVisible"
    isFooter
  >
    <template #body>
      <a-form
        v-if="store.form"
        :model="store.form"
        name="basic"
        :label-col="{ span: 6 }"
        :wrapper-col="{ span: 18 }"
        autocomplete="off"
      >
        <a-row type="flex" :gutter="[16, 16]" class="mt-24 modal-add-wrapper">
          <a-col span="24">
            <a-form-item
              label="label"
              :name="store.form.label"
              :rules="[{ required: false, message: `Please input your label!` }]"
            >
              <a-input v-model:value="store.form.label" />
            </a-form-item>
          </a-col>
          <a-col
            span="24"
            v-if="
              store.form.type !== 'checkbox-group' &&
              store.form.type !== 'checkbox' &&
              store.form.type !== 'radio-group' &&
              store.form.type !== 'switch' &&
              store.form.type !== 'editor'
            "
          >
            <a-form-item
              label="Placeholder"
              :name="store.form.placeholder"
              :rules="[{ required: false, message: `Please input your placeholder!` }]"
            >
              <a-input v-model:value="store.form.placeholder" />
            </a-form-item>
          </a-col>
          <a-col span="24">
            <a-form-item
              label="Key"
              :name="store.form.key"
              :rules="[{ required: false, message: `Please input your key!` }]"
            >
              <a-input v-model:value="store.form.key" />
            </a-form-item>
          </a-col>
          <a-col span="10" v-if="store.form.type =='select' || store.form.type =='radio-group' || store.form.type =='checkbox-group' || store.form.type =='radio-group'  ">
            <a-form-item
              label="Value"
              :name="newItem.value"
              :rules="[{ required: false, message: `Please input your value!` }]"
            >
              <a-input v-model:value="newItem.value" placeholder="value" />
            </a-form-item>
          </a-col>
          <a-col span="10" v-if="store.form.type =='select' || store.form.type =='radio-group' || store.form.type =='checkbox-group' || store.form.type =='radio-group'  ">
            <a-form-item
              label="Name"
              :name="newItem.label"
              :rules="[{ required: false, message: `Please input your name!` }]"
            >
              <a-input v-model:value="newItem.label" placeholder="name" />
            </a-form-item>
          </a-col>
          <a-col span="4" v-if="store.form.type =='select' || store.form.type =='radio-group' || store.form.type =='checkbox-group' || store.form.type =='radio-group'  ">
            <div class="d-flex center" @click="addItem">
              <a-button >
                Add</a-button
              >
            </div>
          </a-col>
          <a-col span="24" v-if="store.form.type =='select' || store.form.type =='radio-group' || store.form.type =='checkbox-group' || store.form.type =='radio-group'  ">
            <table width="100%" > 
              <tr>
                <th>Value</th>
                <th>Name</th>
                <th width="1%"></th>
              </tr>
              <tr v-for="(item, idx) in store.form.items" :key="idx">
                <td>{{ item.value}}</td>
                <td>{{ item.label }}</td>
                <td>
                  <div class="table-action">
                    <button class="delete" @click="deleteItem(idx)">
                      <DeleteOutlined />
                    </button>
                  </div>
                </td>
              </tr>
            </table>
          </a-col>
        </a-row>
      </a-form>
    </template>
    <template #footer>
      <a-button class="grey" @click="$emit('close')"> Bekor qilish </a-button>
      <a-button class="blue" @click="$emit('editing')">
        Saqlash
      </a-button>
    </template>
  </popup-layout>
</template>

<script setup>
// Store
const store = useFormat()

// Emit and Propos
const props = defineProps({
  isVisible: Boolean,
  data: Object,
});
const emit = defineEmits("close", "editing");

// State
const newItem = reactive({
  value: "",
  label: "",
});

// Methods
const addItem = () => {
  store.form.items.unshift({
    value: newItem.value,
    label: newItem.label,
  });
  
  newItem.value = "";
  newItem.label = "";
};

const deleteItem = (idx) => {
  store.form.items.splice(idx, 1);
  newItem.value = "";
  newItem.label = "";
};
</script>

<style></style>
