<template>
  <a-modal :visible="isVisible" :title="title" centered :width="Width" @ok="$emit('submit')" @cancel="$emit('close')" :footer="null"
    :maskClosable="false" class="popup">
    <template #closeIcon>
      <CloseCircleOutlined @click="$emit('close')"/>
    </template>
    <div class="popup-body">
      <slot name="body"></slot>
    </div>
    <div class="popup-footer" v-if="isFooter">
      <slot name="footer"> </slot>
    </div>
  </a-modal>
</template>

<script setup>
  const props = defineProps({
    isVisible: Boolean,
    title: String,
    Width: String,
    isFooter: Boolean,
});
const emit = defineEmits("close", "submit");
</script>
<style>
</style>