h1 {
  color: red;
}

body {
  margin: 0;
}
.dragArea{
  &.list-group{
    height: 100%;
  }
}
.d-flex{
  display: flex;
  &.center{
    align-items: center;
    height: 100%; 
  }}

.ant {
  &-layout {
    min-height: 100vh;

    &-header {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }
  &-form{
    &-item{
      margin: 10px 0;
      padding: 10px;
      transition:0.3s;
      border-radius: 10px;
      &:hover{
        background: #f7f7f7,
      }
      &-label{
        text-align: start !important;
        width: 200px;
      }
      &-control{

        
      }
    }
    &-row{
      div{
      }
    }
    
  }
  &-input{
    &-number{
      width: 100%;
    }
  }
  &-picker {
    width: 100%;
  }

  &-menu {
    &.ant-menu-root {
      padding: 60px 10px 10px 10px;
    }
  }

  &icon {

    &.anticon-menu-fold,
    &.anticon-menu-unfold {
      margin-left: 10px;
      font-size: 22px;
    }

  }
  &-modal{
    .ant-form-item{
      margin-bottom: 10px;
      padding: 0;

      &:hover{
        background-color: #fff;
      }
    }
  }
}

.table {
  &.table-striped {
    width: 100%;
    border-collapse: collapse;

    font-size: 18px;


    th {
      background-color: #001529;
      color: white;
      text-align: start;
      text-transform: capitalize;
      padding: 12px;
    }

    td {
      padding: 12px;
      text-transform: capitalize;
    }

    tbody tr {
      transition: 0.3s;

      &:hover {
        background-color: #f5f5f5;
      }
    }
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      padding: 4px 18px;
      font-size: 18px;
      background-color: #f5f5f5;
      border-radius: 6px;

      span {
        margin-right: 8px;

      }
    }
  }
  &-action{
    display: flex;
    align-items: center;
    button{
      font-size: 16px;
    margin-right: 6px;
    display: flex;
    align-items: center;
    height: 30px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
      &:last-child{
        margin-right: 0;
      }

      &.edit {
        background-color: #E0EFFF;

        svg {
          fill: #3B96EF;
        }
      }

      &.delete {
        background: #FFE3E8;

        svg {
          fill: #EC3751;
        }
      }

      &.eye {
        background: #EDEDED;

        svg {
          stroke: #212121;
        }
      }
    }
  }
}
.popup{
  &-footer{
    display: flex;
    align-items: center;
    button{
      margin-right: 10px;
      &:last-child{
        margin-right: 0;
      }
    }
  }
}