<template>
  <a-form
    name="basic"
    :label-col="{ span: 6 }"
    :wrapper-col="{ span: 18 }"
    autocomplete="off"
    @finish="onFinish"
    @finishFailed="onFinishFailed"
  >
    <a-form-item
      label="Username"
      name="username"
      :rules="[{ required: false, message: 'Please input your username!' }]"
    >
      <a-input v-model:value="formState.username" />
    </a-form-item>

    <a-form-item
      label="Middlename"
      name="middlename"
      :rules="[{ required: false, message: 'Please input your middlename!' }]"
    >
      <a-input v-model:value="formState.middlename" />
    </a-form-item>
    <a-form-item label="Activity name" name="name">
      <a-input v-model:value="formState.name" />
    </a-form-item>
    <a-form-item label="Regions">
      <a-select
        v-model="formState.region"
        show-search
        placeholder="Select a region"
        style="width: 200px"
        :options="regions"
        :filter-option="filterOption"
        @change="handleChange"
      ></a-select>
    </a-form-item>
    <a-form-item label="District">
      <a-select
        :disabled="!formState.region"
        v-model="formState.district"
        show-search
        placeholder="Select a region"
        style="width: 200px"
        :options="SelectDistrict"
        :filter-option="filterOption"
      ></a-select>
    </a-form-item>
    <a-form-item label="Date">
      <a-date-picker v-model:value="formState.date" />
    </a-form-item>
    <a-form-item label="Instant delivery">
      <a-switch v-model:checked="formState.delivery" />
    </a-form-item>
    <a-form-item label="Activity type">
      <a-checkbox-group v-model:value="formState.type">
        <a-checkbox value="1" name="type">Online</a-checkbox>
        <a-checkbox value="2" name="type">Promotion</a-checkbox>
        <a-checkbox value="3" name="type">Offline</a-checkbox>
      </a-checkbox-group>
    </a-form-item>
    <a-form-item label="Resources">
      <a-radio-group v-model:value="formState.resource">
        <a-radio value="1">Sponsor</a-radio>
        <a-radio value="2">Venue</a-radio>
      </a-radio-group>
    </a-form-item>
    <a-form-item label="Activity form">
      <client-only>
        <Editor v-model:value="formState.desc" />
      </client-only>
    </a-form-item>
    <a-form-item :wrapper-col="{ span: 24, offset: 6 }">
      <a-button type="primary" html-type="submit" @click="onFinish">Create</a-button>
      <a-button style="margin-left: 10px" @click="$router.push('/')">Cancel</a-button>
    </a-form-item>
  </a-form>
</template>
<script lang="ts" setup>
// Import
import { Form } from "~/interfaces/ui/form";
import type { SelectProps } from "ant-design-vue";

// Store
const router = useRouter();
const store = useForm();

// State
const route = useRoute();
const idx = ref(route.query.id);
let formState = reactive<Form>({
  id: 0,
  username: "",
  middlename: "",
  name: "",
  delivery: false,
  type: [],
  resource: "",
  desc: "",
  region: "10",
  district: "",
  date: "",
  func: "func",
});

const regions = ref<SelectProps["options"]>([
  { value: "1", label: "Toskent shahri" },
  { value: "10", label: "Toshkent viloyati" },
  { value: "20", label: "Sirdaryo viloyati" },
]);
const districts = ref<SelectProps["options"]>([
  { value: "1", label: "Bektemir tumani", regionId: "1" },
  { value: "2", label: "Chilonzor tumani", regionId: "1" },
  { value: "3", label: "Mirobod tumani", regionId: "1" },
  { value: "11", label: "Bekobod tumani", regionId: "10" },
  { value: "12", label: "Boʻstonliq tumani", regionId: "10" },
  { value: "13", label: "Boʻka tumani", regionId: "10" },
  { value: "21", label: "Oqoltin tumani", regionId: "20" },
  { value: "22", label: "Boyovut tumani", regionId: "20" },
  { value: "23", label: "Guliston tumani", regionId: "20" },
]);

// Methods
const SelectDistrict = ref<SelectProps["options"]>([]);
const filterOption = (input: string, option: any) => {
  return option.label.toLowerCase().indexOf(input.toLowerCase()) >= 0;
};

const handleChange = (value: string) => {
  console.log(value);
  formState.district = "";
  SelectDistrict.value = districts.filter((item) => item.regionId === value);
};

const onFinish = (values: any) => {
  console.log("Success:", values);
  console.log("submit!", toRaw(formState));
  let count = ref(0);
  if(!idx.value){
    count.value++;
    formState.id = count.value;
    store.list.push(formState);
  }else{
    store.list[idx.value] = formState;
  }
  router.push("/");
};

const onFinishFailed = (errorInfo: any) => {
  console.log("Failed:", errorInfo);
};

onMounted(() => {
  if (idx.value) {
    formState = {...store.list[idx.value]};
  }
});
</script>
