<template>
  <div class="row">
    <div class="col-8">
      <div class="table-header">
        <h2>Sizning ma'lumotlaringiz (Draggable Header)</h2>
        <button @click="$router.push('/form')">
          <AppstoreAddOutlined />Add
        </button>
      </div>
      <table class="table table-striped">
        <thead class="thead-dark">
          <draggable v-model="headers" tag="tr" :item-key="(key) => key" :animation="300">
            <template #item="{ element: header }" >
              <th scope="col" :width="header === 'func' ? '1%' : 'auto'" >
                <template v-if="header!=='func'">
                {{ header }}
                </template>
                <template v-else>
                </template>
              </th>
            </template>
          </draggable>
        </thead>
        <tbody>
          <tr v-for="(item, idx) in store.list" :key="item.name">
            <td v-for="header in headers" :key="header" >
              <template v-if="header === 'username' ||header === 'middlename'">
                {{ item[header] }}
              </template>
                <template  v-else-if="header==='delivery'">
                  <CheckCircleOutlined v-if="item[header]" /> 
                  <CloseCircleOutlined v-else />
                </template>
                <template  v-else-if="header==='resource'">
                  {{ item[header]==="1"? 'Sponsor': item[header]==="2"? 'Venue': ''}}
                </template>
              <template v-if="header==='func'">
                <div class="table-action">
                  <button class="edit"><EditOutlined @click="$router.push({path:'/form', query:{id: idx} })"/></button>
                  <button class="delete"><DeleteOutlined @click="deleteItem(idx)"/></button>
                </div>
              </template>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script setup>
// Import
import draggable from "vuedraggable";

// Store
const store = useForm();

// State
const headers = ref(store.list.values.length? Object.keys(store.list[0]) : ["username",
  "middlename",
  "resource",
  "delivery", "func",] );

// Methods
const deleteItem = (idx)=>{
  store.list.splice(idx, 1);
}
</script>
<style scoped>
.buttons {
  margin-top: 35px;
}
</style>
