<template>
  <div class="row">
    <div class="col-8">
      <div class="table-header">
        <h2>Sizning ma'lumotlaringiz (Draggable Header)</h2>
        <button @click="$router.push('/sheets-create')"><AppstoreAddOutlined />Add</button>
      </div>
      <table class="table table-striped">
        <thead class="thead-dark">
          <draggable v-model="headers" tag="tr" :item-key="(key) => key" :animation="300">
            <template #item="{ element: header }">
              <th scope="col" :width="header === 'func' ? '1%' : 'auto'">
                <template v-if="header !== 'func'">
                  {{ header }}
                </template>
                <template v-else>
                  <!-- Ection btn -->
                </template>
              </th>
            </template>
          </draggable>
        </thead>
        <tbody>
          <tr v-for="(item, idx) in store.list" :key="item.name">
            <td v-for="header in headers" :key="header">
              <template v-if="header === 'name' || header === 'middlename'">
                {{ item[header] }}
              </template>
              <template v-else-if="header === 'delivery'">
                <CheckCircleOutlined v-if="item[header]" />
                <CloseCircleOutlined v-else />
              </template>
              <template v-else-if="header === 'resource'">
                {{
                  item[header] === "1" ? "Sponsor" : item[header] === "2" ? "Venue" : ""
                }}
              </template>
              <template v-if="header === 'func'">
                <div class="table-action">
                  <button class="edit">
                    <EditOutlined
                      @click="$router.push({ path: '/form', query: { id: idx } })"
                    />
                  </button>
                  <button class="delete">
                    <DeleteOutlined @click="deleteItem(idx)" />
                  </button>
                </div>
              </template>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script setup>
import draggable from "vuedraggable";
const store = useForm();

const headers = ref(['name']);

// Methods
const deleteItem = (idx) => {
  store.list.splice(idx, 1);
};
</script>
<style scoped>
.buttons {
  margin-top: 35px;
}
</style>
