<template>
  <a-form
    :model="formName"
    name="basic"
    :label-col="{ span: 8 }"
    :wrapper-col="{ span: 16 }"
    autocomplete="off"
    @finish="onFinish"
  >
    <a-row type="flex" :gutter="[16, 16]">
      <a-col span="20">
        <a-form-item
          label="Form name"
          name="formName"
        >
          <a-input v-model:value="formName" /> </a-form-item
      ></a-col>
      <a-col span="4">
        <a-form-item :wrapper-col="{ offset: 1, span: 4 }">
          <a-button type="primary" html-type="submit"  :disabled="!formName">Save Form</a-button>
        </a-form-item></a-col
      >
    </a-row>
  </a-form>
  <a-row class="">
    <a-col span="12">
      <draggable
        class="dragArea list-group"
        :list="cloneList"
        group="people"
        item-key="name"
        :animation="300"
      >
        <template #item="{ element, index }">
          <div class="list-group-item">
            <a-dropdown :trigger="['contextmenu']">
              <div>
                <a-form-item :label="element.label" :name="element.value">
                  <a-input
                    v-if="element.type === 'input'"
                    :disabled="!element.key"
                    v-model="element.value"
                    :placeholder="element.placeholder"
                  >{{ element.value }}</a-input>
                  <a-input-number
                    v-if="element.type === 'input-number'"
                    :disabled="!element.key"
                    type="number"
                    v-model="element.value"
                    :placeholder="element.placeholder"
                  />
                  <a-input-password
                    v-if="element.type === 'input-password'"
                    :disabled="!element.key"
                    v-model="element.value"
                    :placeholder="element.placeholder"
                  />
                  <a-select
                    v-if="element.type === 'select'"
                    :disabled="!element.key"
                    v-model="element.value"
                    show-search
                    :placeholder="element.placeholder"
                    :options="element.items"
                    :filter-option="filterOption"
                  />
                  <a-checkbox
                    v-if="element.type === 'checkbox'"
                    :disabled="!element.key"
                    v-model="element.value"
                    >{{ element.label }}</a-checkbox
                  >

                  <a-checkbox-group
                    v-if="element.type === 'checkbox-group'"
                    :disabled="!element.key"
                    v-model="element.value"
                  >
                    <a-checkbox
                      v-for="item in element.items"
                      :key="item.value"
                      :value="item.value"
                      name="type"
                      >{{ item.label }}</a-checkbox
                    >
                  </a-checkbox-group>

                  <a-date-picker
                    v-if="element.type === 'date-picker'"
                    :disabled="!element.key"
                    v-model="element.value"
                    :picker="element.element_type"
                  />

                  <a-radio-group
                    v-if="element.type === 'radio-group'"
                    :disabled="!element.key"
                    v-model="element.value"
                  >
                    <a-radio
                      v-for="item in element.items"
                      :key="item.value"
                      :value="item.value"
                      >{{ item.label }}</a-radio
                    >
                  </a-radio-group>
                  <a-switch
                    v-if="element.type === 'switch'"
                    :disabled="!element.key"
                    v-model="element.value"
                  />

                  <client-only v-if="element.type === 'editor'">
                    <Editor v-model="element.value" :disabled="!element.key" />
                  </client-only>
                </a-form-item>
              </div>
              <template #overlay>
                <a-menu>
                  <a-menu-item key="1" @click="createOrEdit(element, index, 'edit')"
                    >Edit</a-menu-item
                  >
                  <a-menu-item key="2" @click="deleteItem(index)">Delete</a-menu-item>
                </a-menu>
              </template>
            </a-dropdown>
          </div>
        </template>
      </draggable>
    </a-col>
    <a-col span="1"></a-col>
    <a-col span="11">
      <div class="draggble-block">
        <h3>Kerakli Maydoni tanlang</h3>

        <draggable
          class="dragArea list-group"
          :list="orginalList"
          :group="{ name: 'people', pull: 'clone', put: false }"
          item-key="name"
          :animation="300"
        >
          <template #item="{ element }">
            <div class="list-group-item">
              <a-form-item :label="element.label" :name="element.value">
                <a-input
                  v-if="element.type === 'input'"
                  :placeholder="element.placeholder"
                />
                <a-input-number
                  v-if="element.type === 'input-number'"
                  type="number"
                  :placeholder="element.placeholder"
                />
                <a-input-password
                  v-if="element.type === 'input-password'"
                  :placeholder="element.placeholder"
                />
                <a-select
                  v-if="element.type === 'select'"
                  show-search
                  :placeholder="element.placeholder"
                  :options="element.items"
                  :filter-option="filterOption"
                />
                <a-checkbox v-if="element.type === 'checkbox'">{{
                  element.label
                }}</a-checkbox>

                <a-checkbox-group v-if="element.type === 'checkbox-group'">
                  <a-checkbox
                    v-for="item in element.items"
                    :key="item.value"
                    :value="item.value"
                    name="type"
                    >{{ item.label }}</a-checkbox
                  >
                </a-checkbox-group>

                <a-date-picker
                  v-if="element.type === 'date-picker'"
                  :picker="element.element_type"
                  :placeholder="element.placeholder"
                />

                <a-radio-group v-if="element.type === 'radio-group'">
                  <a-radio
                    v-for="item in element.items"
                    :key="item.value"
                    :value="item.value"
                    >{{ item.label }}</a-radio
                  >
                </a-radio-group>
                <a-switch v-if="element.type === 'switch'" />

                <client-only v-if="element.type === 'editor'">
                  <Editor v-model="element.value" />
                </client-only>
              </a-form-item>
            </div>
          </template>
        </draggable>
      </div>
    </a-col>
  </a-row>
  <PopupEdit
    v-if="modal.edit"
    :isVisible="modal.edit"
    :data="item.edit"
    @close="modal.edit = false"
    @editing="saveEditItem"
  />
</template>

<script setup>
// Import
import draggable from "vuedraggable";

// Store
const store = useFormat();
const router = useRouter();

// State
const orginalList = ref([
  { label: "label", placeholder: "placeholder", value: "", type: "input", key: "" },
  {
    label: "Input-number",
    placeholder: "placeholder",
    value: null,
    type: "input-number",
    key: "",
  },
  {
    label: "Select",
    placeholder: "choose item",
    value: "",
    type: "select",
    items: [{ label: "name", value: "value" }],
    key: "",
  },
  { label: "Checkbox", value: false, type: "checkbox", key: "" },
  {
    label: "Checkbox-group",
    value: [],
    type: "checkbox-group",
    items: [{ label: "name", value: "value" }],
    key: "",
  },
  {
    label: "Date-picker",
    placeholder: "placeholder",
    value: "",
    type: "date-picker",
    element_type: "",
    key: "",
  },
  {
    label: "Date-picker week",
    placeholder: "placeholder",
    value: "",
    type: "date-picker",
    element_type: "week",
    key: "",
  },
  {
    label: "Date-picker month",
    placeholder: "placeholder",
    value: "",
    type: "date-picker",
    element_type: "month",
    key: "",
  },
  {
    label: "Date-picker quarter",
    placeholder: "placeholder",
    value: "",
    type: "date-picker",
    element_type: "quarter",
    key: "",
  },
  {
    label: "Date-picker year",
    placeholder: "placeholder",
    value: "",
    type: "date-picker",
    element_type: "year",
    key: "",
  },
  {
    label: "Radio-group",
    value: "",
    type: "radio-group",
    items: [{ label: "name", value: "value" }],
    key: "",
  },
  { label: "Switch", value: false, type: "switch", key: "" },
  { label: "Editor", value: "", type: "editor", key: "" },
]);

const cloneList = ref([]);
 const formName = ref('');
const modal = reactive({
  edit: false,
  add: false,
});

const item = reactive({
  edit: {},
  add: {},
});

const itemIdx = ref(null);

// Methods
const createOrEdit = (el, idx, type) => {
  modal[type] = true;
  store.form = {...el}
  itemIdx.value = idx;
};

const saveEditItem = () => {
  cloneList.value[itemIdx.value]  = store.form
  modal.edit = false;
  modal.add = false;
};

const deleteItem = (idx) => {
  if (cloneList.value[idx].items) {
    cloneList.value[idx].items = [];
  }
  cloneList.value[idx].value = "";
  cloneList.value[idx].key = "";
  cloneList.value.splice(idx, 1);
};

const filterOption = (input, option) => {
  return option.label.toLowerCase().indexOf(input.toLowerCase()) >= 0;
};

const onFinish = () => {
  let obj = ref({
    name: formName.value,
    format: cloneList.value
  })
  store.formFormatList.push(obj);
  router.push("/two-task");
};
</script>
<style scoped></style>
