<template>
  <a-form
    :model="storeSmartForm.formKey"
    name="basic"
    :label-col="{ span: 8 }"
    :wrapper-col="{ span: 16 }"
    autocomplete="off"
    @finish="onFinish"
  >
  <a-row >  
        <a-col span="16">
          <div class="list-group-item" v-for="(element, index) in storeSmartForm.selectFormat.format" :key="index">
                <a-form-item :label="element.label" :name:value="storeSmartForm.formKey[element.key]">
                  <a-input
                    v-if="element.type === 'input'"
                    :disabled="!element.key"
                    v-model:value="storeSmartForm.formKey[element.key]"
                    :placeholder="element.placeholder"
                    >{{ element.value }}</a-input
                  >
                  <a-input-number
                    v-if="element.type === 'input-number'"
                    :disabled="!element.key"
                    type="number"
                    v-model:value="storeSmartForm.formKey[element.key]"
                    :placeholder="element.placeholder"
                  />
                  <a-input-password
                    v-if="element.type === 'input-password'"
                    :disabled="!element.key"
                    v-model:value="storeSmartForm.formKey[element.key]"
                    :placeholder="element.placeholder"
                  />
                  <a-select
                    v-if="element.type === 'select'"
                    :disabled="!element.key"
                    v-model:value="storeSmartForm.formKey[element.key]"
                    show-search
                    :placeholder="element.placeholder"
                    :options="element.items"
                    :filter-option="filterOption"
                  />
                  <a-checkbox
                    v-if="element.type === 'checkbox'"
                    :disabled="!element.key"
                    v-model:value="storeSmartForm.formKey[element.key]"
                    >{{ element.label }}</a-checkbox
                  >

                  <a-checkbox-group
                    v-if="element.type === 'checkbox-group'"
                    :disabled="!element.key"
                    v-model:value="storeSmartForm.formKey[element.key]"
                  >
                    <a-checkbox
                      v-for="item in element.items"
                      :key="item.value"
                      :value="item.value"
                      name="type"
                      >{{ item.label }}</a-checkbox
                    >
                  </a-checkbox-group>

                  <a-date-picker
                    v-if="element.type === 'date-picker'"
                    :disabled="!element.key"
                    v-model:value="storeSmartForm.formKey[element.key]"
                    :picker="element.element_type"
                  />

                  <a-radio-group
                    v-if="element.type === 'radio-group'"
                    :disabled="!element.key"
                    v-model:value="storeSmartForm.formKey[element.key]"
                  >
                    <a-radio
                      v-for="item in element.items"
                      :key="item.value"
                      :value="item.value"
                      >{{ item.label }}</a-radio
                    >
                  </a-radio-group>
                  <a-switch
                    v-if="element.type === 'switch'"
                    :disabled="!element.key"
                    v-model:value="storeSmartForm.formKey[element.key]"
                  />

                  <client-only v-if="element.type === 'editor'">
                    <Editor v-model:value="storeSmartForm.formKey[element.key]" :disabled="!element.key" />
                  </client-only>
                </a-form-item>

          </div>
          <a-form-item :wrapper-col="{ span: 24, offset: 6 }">
      <a-button type="primary" html-type="submit">Create</a-button>
      <a-button style="margin-left: 10px" @click="$router.push('/')">Cancel</a-button>
    </a-form-item>
    </a-col>
  </a-row>
  </a-form>
</template>
<script setup>
// Store
const store = useFormat();
const storeSmartForm = useSmartForm()

// State
const router = useRouter();


// Methods
const filterOption = (input, option) => {
  return option.label.toLowerCase().indexOf(input.toLowerCase()) >= 0;
};
const onFinish = () => {
  storeSmartForm.formValue.push(storeSmartForm.formKey);
  router.push("/two-task");
};
</script>
<style scoped></style>
