<template>
  <div :style="{ marginBottom: '16px' }">
    <a-button @click="$router.push('/sheets-create')"
      >Add Form</a-button
    >
  </div>
  <a-tabs
    v-model:activeKey="activeKey"
    v-if="store.formFormatList"
    hide-add
    type="editable-card"
    @change="generateHeader"
  >
    <a-tab-pane v-for="(tab, idx) in store.formFormatList" :key="idx" :tab="tabName(tab)">
      <div class="col-8">
        <div class="table-header">
          <h2>Sizning ma'lumotlaringiz (Draggable Header)</h2>
          <button @click="addItem"><AppstoreAddOutlined />Add item</button>
        </div>
        <table class="table table-striped">
          <thead class="thead-dark">
            <draggable
              v-model="headers"
              tag="tr"
              :item-key="(key) => key"
              :animation="300"
            >
              <template #item="{ element: header }">
                <th scope="col" :width="header === 'func' ? '1%' : 'auto'">

                  <template v-if="header !== 'func'">
                    {{ header }}
                  </template>
                  <template v-else>
                    Ection btn{{ header }}
                  </template>
                </th>
              </template>
            </draggable>
          </thead>
          <tbody>
            <tr v-for="(item, idx) in storeSmartForm.formValue" :key="item">
              <td v-for="key in headersArr" :key="key">
                <template v-if="true">
                  {{ item[key] }}
                </template>
                <!-- <template  v-else-if="header==='delivery'">
                  <CheckCircleOutlined v-if="item[header]" /> 
                  <CloseCircleOutlined v-else />
                </template>
                <template  v-else-if="header==='resource'">
                  {{ item[header]==="1"? 'Sponsor': item[header]==="2"? 'Venue': ''}}
                </template> -->
                <template v-if="header === 'func'">
                  <div class="table-action">
                    <button class="edit">
                      <EditOutlined
                        @click="$router.push({ path: '/form', query: { id: idx } })"
                      />
                    </button>
                    <button class="delete">
                      <DeleteOutlined @click="deleteItem(idx)" />
                    </button>
                  </div>
                </template>
              </td>
            </tr>
          </tbody>
        </table></div
    ></a-tab-pane>
  </a-tabs>
</template>
<script lang="ts" setup>
// Import
import { ref } from "vue";
import draggable from "vuedraggable";

// Store
const store = useFormat();
const storeSmartForm = useSmartForm();

// State
const router = useRouter();
const activeKey = ref(0);
const headers = ref(["func"]);
const headersArr = ref([]);
const dataValueObj = ref({});
let dataValue = ref([]);

// Methods
const deleteItem = (idx) => {
  // store.formFormatList[activeKey.value].splice(idx, 1);
};

const tabName = (item) => {
  return item.value.name;
};

const activeValue = () => {
  console.log(storeSmartForm.formValue, "ddfdfd");
  console.log(storeSmartForm.formValue.values, "ddfdfd");

  if (storeSmartForm.formValue) {
    dataValue.value = storeSmartForm.formValue.find((obj) => obj);
  }
};

const generateHeader = (activeKey) => {
  headers.value = [];
  headersArr.value = [];
  let bodyObj = {};
  if (store.formFormatList[activeKey]) {
    store.formFormatList[activeKey].value.format.forEach((el) => {
      headers.value.push(el.label);
      headersArr.value.push(el.key);
      bodyObj[el.key] = "";
    });
  }
  dataValueObj.value = {};
  dataValueObj.value = bodyObj;
};

const addItem = () => {
  storeSmartForm.formatIdx = activeKey.value;
  storeSmartForm.selectFormat = store.formFormatList[activeKey.value];
  storeSmartForm.formKey = dataValueObj.value;
  router.push("smart-form-create");
};

onMounted(() => {
  generateHeader(0);
  activeValue();
});
</script>
